K2-157_ESPRESSO_2024.fits
__pycache__
abundances_harps1111_o_c.rdb
all_abundances_ordered_element.rdb
all_abundances_ordered_star.rdb
ares_ew
ares_ew.py
ares_ew_corr
ares_log
ares_out
atmospheres
elements.rdb
elements_formatting.rdb
elements_to_plot.rdb
fort.8
input_param_error.rdb
l
linelist_damp.rdb
moog_abundances
